.jobs__info {
	&-container {
		margin: 15px auto;
		background: #eee2;
		backdrop-filter: blur(5px);
		border-radius: 10px;
		max-height: 330px;
		overflow: auto;
		.jobs__info {
			&-title {
				text-align: center;
				margin: 20px auto;
				font-size: 25px;
				padding: 15px 0;
			}
			&-list {
				list-style: none;
				padding: 10px;
				&-item {
					margin: 5px;
					font-size: 16px;
					font-weight: 600;
					&-location {
						margin: 0;
					}
					&-rangeSalary-qty__container {
						font-size: 14px;
						font-weight: 300;
						display: flex;
						justify-content: space-between;
						align-items: center;
					}
				}
			}
		}
	}
}
