.title {
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	background: linear-gradient(to right, $pinkColor, $orangeColor);
	box-shadow: 0px -7px lighten($color: $pinkColor, $amount: 0.5);
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(250px);
	border-radius: 10px;
	text-align: center;
	padding: 20px;
	margin: 20px auto;
}
